.temp() {
	background: linear-gradient(-45deg, black, white);
}

@content-width: 1180px; 

* {
	margin: 0;
	padding: 0;
}


header {
	width: 100%;
	min-width: @content-width;
	height: 890px;
	.temp();
}

.container {
	width: 100%;
	&-1 {
		height: 1260px;
		background-color: #a2ca28;
	}
	&-2 {
		height: 1280px;
		background-color: #fd634e;
	}
	&-3 {
		height: 800px;
		.temp();
	}
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: @content-width;
	.temp();
	height: 100%;
	margin: 0 auto;
	&-1 {
		.description {
			width: 34%;
			height: 395px;
			.temp();
		}
		.picture {
			.temp();
			width: 66%;
			height: 395px;
		}
	}
	&-2 {
		.picture {
			&-1 {
				width: 34%;
				height: 330px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 330px;
				.temp();
			}

		}
		.description {
			&-1 {
				width: 34%;
				height: 310px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 310px;
				.temp();
			}
		}
	}
}

.features {
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: space-between;
	.temp();
	.feature {
		flex-grow: 1;
		height: 100%;
		.temp();
	}
}

footer {
	width: 100%;
	height: 770px;
	background-color: #0d1119;
	/*.container-4 {
		color: green;
		width: 1180px;
		height: 155px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.resources {
			width: 400px;
			height: 135px;
			.temp();
		}
		.aboutUs {
			width: 461px;
			height: 135px;
			.temp();
		}
		.stayInTouch {
			width: 250px;
			height: 135px;
			color: green;
			.temp();
		}
	}*/
}