.temp() {
	background: linear-gradient(-45deg, black, white);
}

@content-width: 1180px; 

* {
	margin: 0;
	padding: 0;
}


header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-width: @content-width;
	height: 890px;
	.temp();
	.logo {
		width: 160px;
		height: 50px;
		margin: 50px;
		.temp();
	}
	nav {
		width: 650px;
		height: 50px;
		margin: 50px;
		.temp();
	}
}

.container {
	width: 100%;
	&-1 {
		height: 1260px;
		background-color: #a2ca28;
	}
	&-2 {
		display: flex;
		flex-direction: column;
		height: 1280px;
		background-color: #fd634e;
	}
	&-3 {
		height: 800px;
		.temp();
	}
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: @content-width;
	.temp();
	height: 100%;
	margin: 0 auto;
	&-1 {
		.fitness-first{
			display: flex;
			width: 100%;
			height: 395px;
			.description {
				flex-grow: 1;
				.temp();
			}
			.picture {
				.temp();
				flex-grow: 2;
			}
		}
		.your-body{
			display: flex;
			width: 100%;
			height: 395px;
			.description {
				flex-grow: 1;
				.temp();
			}
			.picture {
				.temp();
				flex-grow: 2;
			}
		}
	}
	&-2 {
		flex-grow: 1;
		.lifestyle {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.temp();
			.picture {
				.temp();
				flex-grow: 1;
			}
			.description {
				.temp();
				flex-grow: 1;
			}

		}
		.summer-of-fun {
			display: flex;
			flex-direction: column;
			flex-grow: 2;
			.temp();
			.picture {
				.temp();
				flex-grow: 1;
			}
			.description {
				.temp();
				flex-grow: 1;
			}
		}
	}
	&-3 {
		flex-grow: 1;
		.get-involved {
			display: flex;
			flex-direction: column;
			flex-grow: 2;
			.temp();
			.picture {
				.temp();
				flex-grow: 1;
			}
			.description {
				.temp();
				flex-grow: 1;
			}
		}
		.eating-habits {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.temp();
			.picture {
				.temp();
				flex-grow: 1;
			}
			.description {
				.temp();
				flex-grow: 1;
			}
		}
		/*.picture {
			&-1 {
				width: 34%;
				height: 330px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 330px;
				.temp();
			}

		}
		.description {
			&-1 {
				width: 34%;
				height: 310px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 310px;
				.temp();
			}
		}*/
	}
}

.features {
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: space-between;
	.temp();
	.feature {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		flex-basis: 25%;
		height: 100%;
		.temp();
		.feature-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 50%;
			.temp();
			.icon {
				width: 40px;
				height: 40px;
				.temp();
			}
			.text {
				width: 95%;
			}
		}
	}
}

footer {
	width: 100%;
	height: 770px;
	background-color: #0d1119;
	/*.container-4 {
		color: green;
		width: 1180px;
		height: 155px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.resources {
			width: 400px;
			height: 135px;
			.temp();
		}
		.aboutUs {
			width: 461px;
			height: 135px;
			.temp();
		}
		.stayInTouch {
			width: 250px;
			height: 135px;
			color: green;
			.temp();
		}
	}*/
}