.temp() {
	background: linear-gradient(-45deg, black, white);
}

@content-width: 1180px; 

* {
	margin: 0;
	padding: 0;
}


header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-width: @content-width;
	height: 890px;
	background-image: url('img/bg.jpg');
	background-size:cover;
	.logo {
		width: 160px;
		height: 50px;
		margin: 50px;
		.temp();
	}
	nav {
		width: 650px;
		height: 50px;
		margin: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			text-decoration: none;
		}
		.temp();
	}
}

.container {
	width: 100%;
	&-1 {
		/*height: 1260px;*/
		background-color: #a2ca28;
	}
	&-2 {
		display: flex;
		flex-direction: column;
		/*height: 1280px;*/
		background-color: #fd634e;
	}
	&-3 {
		height: 800px;
		background-image: url('img/clouds.png');
		background-size:cover;
	}
}

.content {
	display: flex;
	width: @content-width;
	.temp();
	height: 100%;
	margin: 0 auto;

	.description {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.temp();
		.description-content {
			display: flex;
			flex-direction: column;
			width: 70%;
			height: 70%;
			h2 {
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			h1 {
				text-transform: uppercase;
			}
			.icon {
				width: 20px;
				height: 30px;
				margin: 10px auto;
				.temp();
			}
			p {
				text-align: left;
			}
			.temp();
		}
	}

	&-1 {
		flex-direction: column;
		.description {
			max-width: 34%;
			.description-content {
				align-items: center;
				p {
					text-align: center;
				}
			}
		}
		.fitness-first{
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 395px;
			.description {
				flex-grow: 1;
				.temp();
			}
			.picture {
				background: url('img/girl.jpg');
				background-size:cover;
				flex-grow: 2;
			}
		}
		.your-body{
			display: flex;
			width: 100%;
			height: 395px;
			.description {
				flex-grow: 1;
				.temp();
			}
			.picture {
				background: url('img/clock.jpg');
				background-size:cover;
				flex-grow: 2;
			}
		}
	}
	&-2 {
		display: flex;
		flex-wrap: wrap;
		.lifestyle {
			display: flex;
			flex-direction: column;

			.temp();
			.picture {
				background-image: url('img/run.jpg');
				background-size:cover;
				width: 400px;
				height: 310px;
			}
			.description {
				.temp();
				width: 400px;
				height: 310px;

			}

		}
		.summer-of-fun {
			display: flex;
			flex-direction: column;

			.temp();
			.picture {
				background-image: url('img/boy.jpg');
				background-size:cover;

				width: 780px;
				height: 310px;
			}
			.description {
				.temp();

				width: 780px;
				height: 310px;
			}
		}
		h1{
			text-align: left;
		}
/*---*/

		.get-involved {
			display: flex;
			flex-direction: column;

			.temp();
			.picture {
				background-image: url('img/grapes.jpg');
				background-size:cover;

				width: 780px;
				height: 310px;
			}
			.description {
				.temp();

				width: 780px;
				height: 310px;
			}
		}
		.eating-habits {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			.temp();
			.picture {
				background-image: url('img/fruit.jpg');
				background-size:cover;
				flex-grow: 1;
				width: 400px;
				height: 310px;
			}
			.description {
				.temp();
				flex-grow: 1;
				width: 400px;
				height: 310px;
			}
		}
		/*.picture {
			&-1 {
				width: 34%;
				height: 330px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 330px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 330px;
				.temp();
			}

		}
		.description {
			&-1 {
				width: 34%;
				height: 310px;
				.temp();
			}
			&-2 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-3 {
				width: 66%;
				height: 310px;
				.temp();
			}
			&-4 {
				width: 34%;
				height: 310px;
				.temp();
			}
		}*/
	}
}

.features {
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: space-between;
	.temp();
	.feature {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		flex-basis: 25%;
		height: 100%;
		.temp();
		.feature-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 50%;
			.temp();
			.icon {
				width: 40px;
				height: 40px;
				.temp();
			}
			.text {
				width: 95%;
			}
		}
	}
}

footer {
	width: 100%;
	height: 770px;
	background-color: #0d1119;
	/*.container-4 {
		color: green;
		width: 1180px;
		height: 155px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.resources {
			width: 400px;
			height: 135px;
			.temp();
		}
		.aboutUs {
			width: 461px;
			height: 135px;
			.temp();
		}
		.stayInTouch {
			width: 250px;
			height: 135px;
			color: green;
			.temp();
		}
	}*/
}